* {
    font-family: "Inter", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* NAVBAR ITEM */

.bar {
    color: black !important;
}

.bar:hover {
    color: #4285f4 !important;
}

/* FEATURES CONTAINER */

.second-container {
    padding-top: 2rem;
}

/* FEATURES CARD */

.card.custom-card {
    background-color: rgb(232, 232, 232);
    border: none;
    position: relative;
}

.card.custom-card:hover {
    background-color: #4285f4;
    color: white !important;
    transition: 0.5s ease-in-out;
}

/* FEATURES CARD ICON */

.card.custom-card:hover .card-text,
.card.custom-card:hover .card-title,
.card.custom-card:hover a {
    color: white !important;
}

/* FEATURES CARD PFP */

.pfp-card {
    width: 25rem;
}

.pfp {
    width: 3rem;
    border: none;
    border-radius: 50%;
}

/* ABOUT SECTION */

.about-us {
    background-color: #f6f6f6;
}

.card-top {
    position: relative;
    overflow: hidden;
}

.card-top .social-icons {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 100%;
    background: #4285f4;
    text-align: center;
    padding: 12px 0;
    transition: all 0.4s ease;
}

.card:hover .social-icons {
    bottom: 0;
}

.card-top img {
    width: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.card:hover .card-top img {
    transform: scale(1.1);
}

.card-top .social-icons a {
    color: #ffffff;
    font-size: 20px;
    margin: 0 12px;
    transition: 0.3s;
}

/* TESTIMONIALS BG */

#testimonials {
    background-color: #f6f6f6;
}

/* TESTIMONIALS PFP IMAGE */

.carousel-img {
    width: 6rem;
    border: none;
    border-radius: 50%;
    margin: 3rem;
}

/* BLOG CARD */

.card.blog {
    border: none;
}

/* BLOG CARD DATE*/

.date {
    color: #b3b3b3;
}

/* BLOG BUTTON*/

.news,
.btn.blog-btn {
    border: none;
    background-color: white;
    color: #4285f4;
}

.btn.blog-btn:hover {
    background-color: white;
    color: #0a66f9;
}

/* CONTACT */

.contact-section {
    width: 100%;
    background-image: url("contact-img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
